<p id="notice"><%= notice %></p>

<p>
  <strong>Startup:</strong>
  <%= @finalgroup.startup %>
</p>

<p>
  <strong>Finalposition:</strong>
  <%= @finalgroup.finalposition %>
</p>

<%= link_to 'Edit', edit_finalgroup_path(@finalgroup) %> |
<%= link_to 'Back', finalgroups_path %>
