<%= form_for(@startupparticipant) do |f| %>
  <% if @startupparticipant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@startupparticipant.errors.count, "error") %> prohibited this startupparticipant from being saved:</h2>

      <ul>
      <% @startupparticipant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label :startup_id %><br>
    <%= f.select :startup_id, options_for_select(Startup.all.map{|s|[s.name, s.id]}) %>
  </div>
<div class="field">
    <%= f.label :participant_id %><br>
    <%= f.select :participant_id, options_for_select(Participant.all.map{|s|[s.name, s.id]}) %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.text_area :role %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
