<p id="notice"><%= notice %></p>

<h1>Listing Qualificationgroups</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Qualificationposition</th>
      <th>Startup</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qualificationgroups.order(qualificationposition_id: :asc).each do |qualificationgroup| %>
      <tr>
        <td><%= "#{Qualificationposition.find(qualificationgroup.qualificationposition).name}"%></td>
        <td><%= "#{Startup.find(qualificationgroup.startup).name}"%></td>
        <td><%= link_to 'Show', qualificationgroup %></td>
        <td><%= link_to 'Edit', edit_qualificationgroup_path(qualificationgroup) %></td>
        <td><%= link_to 'Destroy', qualificationgroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qualificationgroup', new_qualificationgroup_path %>
