<p id="notice"><%= notice %></p>

<h1>Listing Finalpositions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @finalpositions.each do |finalposition| %>
      <tr>
        <td><%= finalposition.name %></td>
        <td><%= link_to 'Show', finalposition %></td>
        <td><%= link_to 'Edit', edit_finalposition_path(finalposition) %></td>
        <td><%= link_to 'Destroy', finalposition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Finalposition', new_finalposition_path %>
