<p id="notice"><%= notice %></p>

<h1>Listing Semifinalgroups</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Startup</th>
      <th>Semifinalposition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @semifinalgroups.each do |semifinalgroup| %>
      <tr>
     
        <td><%= "#{Startup.find(semifinalgroup.startup).name}"%></td>
        <td><%= "#{Semifinalposition.find(semifinalgroup.semifinalposition).name}"%></td>
        <td><%= link_to 'Show', semifinalgroup %></td>
        <td><%= link_to 'Edit', edit_semifinalgroup_path(semifinalgroup) %></td>
        <td><%= link_to 'Destroy', semifinalgroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Semifinalgroup', new_semifinalgroup_path %>
