<p id="notice"><%= notice %></p>

<p>
  <strong>Startup:</strong>
  <%= @semifinalgroup.startup %>
</p>

<p>
  <strong>Semifinalposition:</strong>
  <%= @semifinalgroup.semifinalposition %>
</p>

<%= link_to 'Edit', edit_semifinalgroup_path(@semifinalgroup) %> |
<%= link_to 'Back', semifinalgroups_path %>
